<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Lam Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="topnav">
            <span class="hotline"><i class="fa fa-phone"></i> Hotline:0347 305 124 </span>
            <a href="#Đăng ký"><i class="fa fa-key"></i> Đăng ký</a>
            <a href="#Đăng nhập"><i class="fa fa-sign-in"></i> Đăng nhập</a>
            <a href="#Giỏ hàng"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
            <a class="active" href="#Kiểm tra đơn hàng"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
